<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.net.paulofernando.pessoasinspiradoras">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="14" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name="br.net.paulofernando.pessoasinspiradoras.data.dao.DtoFactory"
        android:allowBackup="false"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.activity.LoginActivity"
            android:windowSoftInputMode="adjustResize"
            android:noHistory="true"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.net.paulofernando.pessoasinspiradoras.view.activity.DashboardActivity"
            android:theme="@style/AppTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="br.net.paulofernando.pessoasinspiradoras.view.activity.MainNewActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            android:configChanges="orientation"
            android:screenOrientation="portrait"
        </activity>
        <activity
            android:name="br.net.paulofernando.pessoasinspiradoras.view.activity.SettingsActivity"
            android:label="@string/title_settings"
            android:theme="@style/AppTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name="br.net.paulofernando.pessoasinspiradoras.view.activity.EditPersonActivity"
            android:label="@string/title_edit_person"
            android:theme="@style/AppTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            />

        <activity
            android:name="br.net.paulofernando.pessoasinspiradoras.view.activity.ImportInspirationsActivity"
            android:label="@string/title_import"
            android:theme="@style/AppTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            />

        <activity
            android:name="br.net.paulofernando.pessoasinspiradoras.view.activity.AddPersonActivity"
            android:label="@string/title_add_person"
            android:theme="@style/AppTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            />

        <activity
            android:name="br.net.paulofernando.pessoasinspiradoras.view.activity.AddInspirationActivity"
            android:label="@string/title_add_inspiration"
            android:theme="@style/AppTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            />

        <activity
            android:name="br.net.paulofernando.pessoasinspiradoras.view.activity.EditInspirationActivity"
            android:label="@string/title_edit_inspiration"
            android:theme="@style/AppTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            />

        <activity
            android:name="br.net.paulofernando.pessoasinspiradoras.view.fragment.PagerInspirationsFragment"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            />

        <activity
            android:name="br.net.paulofernando.pessoasinspiradoras.view.activity.AboutActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            />

        <activity
            android:name="br.net.paulofernando.pessoasinspiradoras.view.activity.PopupImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.PopupImage"
            />

        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

    </application>

</manifest>