<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="br.net.paulofernando.pessoasinspiradoras"
	android:versionCode="6"
	android:versionName="1.0.4" >
	
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 
    
	<uses-sdk
		android:minSdkVersion="7"
		android:targetSdkVersion="14" />
	
	<application
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:name="br.net.paulofernando.pessoasinspiradoras.dao.DtoFactory"
		android:allowBackup="false">
		
		<activity
			android:name="Login_"				
			android:windowSoftInputMode="adjustResize"
			android:noHistory="true"
			android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
			android:configChanges="orientation"
   			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
            android:name="br.net.paulofernando.pessoasinspiradoras.PersonActivity_"
            android:theme="@style/Theme.AppCompat.Light"
            android:configChanges="orientation"
   			android:screenOrientation="portrait"
            />
		<activity
            android:name="br.net.paulofernando.pessoasinspiradoras.Dashboard_"
            android:theme="@style/Theme.AppCompat.Light"
            android:configChanges="orientation"
   			android:screenOrientation="portrait"
            />
		<activity
            android:name="br.net.paulofernando.pessoasinspiradoras.SettingsActivity_"
            android:label="@string/title_settings"
            android:theme="@style/Theme.AppCompat.Light"
            android:configChanges="orientation"
   			android:screenOrientation="portrait"/>
		
		<activity
            android:name="br.net.paulofernando.pessoasinspiradoras.EditPersonActivity_"
            android:label="@string/title_edit_person"
            android:theme="@style/Theme.AppCompat.Light"
            android:configChanges="orientation"
   			android:screenOrientation="portrait"
            />
		
		<activity
            android:name="br.net.paulofernando.pessoasinspiradoras.ImportInspirationsActivity_"
            android:label="@string/title_import"
            android:theme="@style/Theme.AppCompat.Light"
            android:configChanges="orientation"
   			android:screenOrientation="portrait"
            />
				
		<activity
            android:name="br.net.paulofernando.pessoasinspiradoras.AddPersonActivity_"
            android:label="@string/title_add_person"
            android:theme="@style/Theme.AppCompat.Light"
            android:configChanges="orientation"
   			android:screenOrientation="portrait"
            />
		<activity android:name="com.soundcloud.android.crop.CropImageActivity" />
		
	</application>

</manifest>